//Estilos base
body {
  font-family: $body-font-family;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.navbar-brand { color: $primary; }
a { color: $primary; }

.card {
  @include card-shadow;
}
